{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/comments/?limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 5, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/\", \"subreddit_id\": \"t5_aymtgy\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"March 2024 Confirmation Thread\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"penpalbotdev\", \"link_author\": \"<REDDIT-USERNAME>\", \"distinguished\": null, \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": true, \"id\": \"kvvtzh5\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": false, \"author\": \"<REDDIT-USERNAME>\", \"num_comments\": 2, \"can_mod_post\": true, \"created_utc\": 1711026922.0, \"send_replies\": true, \"parent_id\": \"t1_kvvtyfa\", \"score\": 1, \"author_fullname\": \"t2_vymsy8abk\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"controversiality\": 0, \"body\": \"\\n\\nYou can not update your own flair count!\\n\\n`u/digitalmayhap` updated from\\n\\n\\u003E `Snail Mail Volunteer -  Emails: 12 |  Letters: 12`\\n\\nto\\n\\n\\u003E `Snail Mail Volunteer -  Emails: 13 |  Letters: 13`\\n\\nu/askjdfklasjklfjasklfjask does not exist!\", \"edited\": false, \"gildings\": {}, \"author_flair_css_class\": null, \"author_flair_background_color\": \"#46d160\", \"is_submitter\": true, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYou can not update your own flair count!\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ccode\\u003Eu/digitalmayhap\\u003C/code\\u003E updated from\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003ESnail Mail Volunteer -  Emails: 12 |  Letters: 12\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003Eto\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003ESnail Mail Volunteer -  Emails: 13 |  Letters: 13\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/u/askjdfklasjklfjasklfjask\\\"\\u003Eu/askjdfklasjklfjasklfjask\\u003C/a\\u003E does not exist!\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"removal_reason\": null, \"collapsed_reason\": null, \"link_id\": \"t3_1bk64cp\", \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"top_awarded_type\": null, \"unrepliable_reason\": null, \"approved\": false, \"author_flair_text_color\": \"light\", \"score_hidden\": false, \"permalink\": \"/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/kvvtzh5/\", \"subreddit_type\": \"private\", \"link_permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/\", \"name\": \"t1_kvvtzh5\", \"created\": 1711026922.0, \"subreddit_name_prefixed\": \"r/penpalbotdev\", \"author_flair_text\": \"Bot\", \"removed\": false, \"spam\": false, \"collapsed\": false, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": null, \"rte_mode\": \"markdown\", \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"treatment_tags\": [], \"author_flair_template_id\": \"42ca5ac2-dfd3-11ee-95b3-fecb104c514b\"}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/\", \"subreddit_id\": \"t5_aymtgy\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"March 2024 Confirmation Thread\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\[...]
