{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 0, \"modhash\": null, \"geo_filter\": \"\", \"children\": [], \"before\": null}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["122"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["349"], "x-ratelimit-used": ["647"], "x-ratelimit-reset": ["123"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:57 GMT"], "Via": ["1.1 varnish"], "Vary": ["Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/message/unread/?mark=False&limit=100&raw_json=1"}, "recorded_at": "2024-03-21T14:17:57"}], "recorded_with": "betamax/0.9.0"}