{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/<REDDIT-USERNAME>/submitted?sort=new&limit=5&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_1bk64cp\", \"dist\": 5, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"#46d160\", \"approved_at_utc\": null, \"subreddit\": \"penpalbotdev\", \"selftext\": \"Submit your confirmations below!\\n\\n* [**No Previous Confirmation Thread**]()\\n* [**Full List of Subreddit Rules**](https://www.reddit.com/r/penpalbotdev/wiki/rules/)\\n* [**Message the Moderators**](http://www.reddit.com/message/compose?to=/r/penpalbotdev)\\n\\n# How Does This Process Work?\\n\\n\\u003E Note: Confirmations may take a few minutes as the bot processes the confirmation.\\n\\nAfter exchanging emails or letters, confirm that the user sent them by tagging their name, and then i[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": \"#46d160\", \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": false, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": true, \"display_name\": \"penpalbotdev\", \"header_img\": null, \"title\": \"penpalbotdev\", \"allow_galleries\": true, \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": 6, \"icon_img\": \"\", \"display_name_prefixed\": \"r/penpalbotdev\", \"accounts_active\": 6, \"public_traffic\": false, \"subscribers\": 2, \"user_flair_richtext\": [{\"e\": \"text\", \"t\": \"Bot\"}], \"name\": \"t5_aymtgy\", \"quarantine\": false, \"hide_ads\": false, \"prediction_leaderboard_entry_type\": 1, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"allow_predictions\": false, \"user_has_favorited\": false, \"user_flair_template_id\": \"42ca5ac2-dfd3-11ee-95b3-fecb104c514b\", \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"community_reviewed\": false, \"submit_text\": \"\", \"description_html\": null, \"spoilers_enabled\": true, \"comment_contribution_settings\": {\"allowed_media_types\": [\"giphy\", \"static\", \"animated\", \"expression\"]}, \"allow_talks\": false, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"collections_enabled\": true, \"is_enrolled_in_new_modmail\": true, \"key_color\": \"\", \"can_assign_user_flair\": false, \"created\": 1709931969.0, \"wls\": null, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": false, \"allowed_media_in_comments\": [\"giphy\", \"static\", \"animated\", \"expression\"], \"allow_videogifs\": true, \"should_archive_posts\": false, \"user_flair_type\": \"richtext\", \"allow_polls\": true, \"collapse_deleted_comments\": true, \"coins\": 0, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": false, \"is_crosspostable_subreddit\": true, \"notification_level\": null, \"should_show_media_in_comments_setting\": true, \"can_assign_link_flair\": false, \"has_menu_widget\": false, \"accounts_active_is_fuzzed\": false, \"allow_prediction_contributors\": false, \"submit_text_label\": \"\", \"link_flair_position\": \"right\", \"user_sr_flair_enabled\": true, \"user_flair_enabled_in_sr\": true, \"allow_discovery\": true, \"accept_followers\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"disable_contributor_requests\": false, \"subreddit_type\": \"private\", \"suggested_comment_sort\": null, \"banner_img\": \"\", \"user_flair_text\": \"Bot\", \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"aymtgy\", \"user_is_moderator\": true, \"over18\": false, \"header_title\": \"\", \"description\": \"\", \"submit_link_label\": \"\", \"user_flair_text_color\": \"light\", \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": null, \"url\": \"/r/penpalbotdev/\", \"created_utc\": 1709931969.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_contributor\": true, \"allow_predictions_tournament\": false}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2998"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["242"], "x-ratelimit-used": ["754"], "x-ratelimit-reset": ["36"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:19:24 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"}, "recorded_at": "2024-03-21T14:19:24"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/comments/1bk7l8h/?limit=2048&sort=new&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"#46d160\", \"approved_at_utc\": null, \"subred[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/thisisreallytricky/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_thisisreallytricky\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_9iw4ya/styles/profileIcon_snoo68d30b97-2aae-4c03-9ba3-2e01513cdb4a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=55c7cb949fb5f77529eaeef055462a37787cd69b\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/thisisreallytricky\", \"key_color\": \"\", \"name\": \"t5_9iw4ya\", \"is_default_banner\": true, \"url\": \"/user/thisisreallytricky/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": false, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 0, \"id\": \"l56kwuu68\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_9iw4ya/styles/profileIcon_snoo68d30b97-2aae-4c03-9ba3-2e01513cdb4a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=55c7cb949fb5f77529eaeef055462a37787cd69b\", \"hide_from_robots\": true, \"link_karma\": 28, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 89, \"accept_chats\": false, \"name\": \"thisisreallytricky\", \"created\": 1696518188.0, \"created_utc\": 1696518188.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/68d30b97-2aae-4c03-9ba3-2e01513cdb4a.png\", \"comment_karma\": 61, \"accept_followers\": false, \"has_subscribed\": true, \"accept_pms\": true}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2125"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "x-robots-tag": ["noindex, nofollow"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["240"], "x-ratelimit-used": ["756"], "x-ratelimit-reset": ["36"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:19:24 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/user/thisisreallytricky/about/?raw_json=1"}, "recorded_at": "2024-03-21T14:19:24"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/flairlist/?name=thisisreallytricky&limit=1024&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"users\": [{\"flair_css_class\": null, \"user\": \"thisisreallytricky\", \"flair_text\": null}]}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["88"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["239"], "x-ratelimit-used": ["757"], "x-ratelimit-reset": ["36"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:19:24 GMT"], "Via": ["1.1 varnish"], "Vary": ["Accept-Encoding"], "Strict-Transport-Se[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&flair_template_id=2693db3e-dd90-11ee-99a0-e66a03397746&name=thisisreallytricky&text=%F0%9F%93%A7+Emails%3A+1+%7C+%F0%9F%93%AC+Letters%3A+1"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": []}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["24"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["237"], "x-ratelimit-used": ["759"], "x-ratelimit-reset": ["35"], "set-cookie": ["session_tracker=qcndialqfhrpcgchba.0.1711030765007.Z0FBQUFBQmxfRUh0RE1sdTBaQlQ3TThYd3piVFZtbWNIeTJGLURjeThDczd1SHBKRzNrZVVoVnk5Y0tBY0l3dzBQeUlaRHZray1xODczQW14WGEwSjlac09Ma0tycVE4cGg4bGtydDVhSW85X3hhZmxLd1ppUm03Yi1JTHZqbklEVVNTX2xvVENiQnY; Domain=reddit.com; Max-Age=7199; Path=/; expires=Thu, 21-Mar-2024 16:19:25 GMT; secure"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:19:25 GMT"], "Via": ["1.1 varnish"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "recorded_at": "2024-03-21T14:19:25"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/digitalmayhap/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": false, \"user_is_contributor\": false, \"banner_img\": \"https://styles.redditmedia.com/t5_9kyq6/styles/profileBanner_o2tpy0c3aypb1.jpg?wi[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/flairlist/?name=digitalmayhap&limit=1024&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"users\": [{\"flair_css_class\": \"846bff86-dfc8-11ee-9926-2ef1a20f02fd\", \"user\": \"digitalmayhap\", \"flair_text\": \"Snail Mail Volunteer - \\ud83d\\udce7 Emails: 13 | \\ud83d\\udcec Letters: 13\"}]}"}, "he[...]
[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/akljdflkasdjkfjaskldf/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"message\": \"Not Found\", \"error\": 404}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["38"], "x-ua-compatible": ["IE=edge"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["232"], "x-ratelimit-used": ["764"], "x-ratelimit-reset": ["34"], "content-type": ["application/json; charset=UTF-8"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:19:26 GMT"], "Via": ["1.1 varnish"], "Vary": ["Accept-Encoding"], "Strict-Transport-Secur[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&id=t1_kvw41z5"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/save/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "ca[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&text=%0A%0A%60u%2Fthisisreallytricky%60+updated+from%0A%0A%3E+%60No+Flair%60%0A%0Ato%0A%0A%3E+%60+Emails%3A+1+%7C++Letters%3A+1%60%0A%0A%60u%2Fdigitalmayhap%60+updated+from%0A%0A%3E+%60Snail+Mail+Volunteer+-++Emails%3A+13+%7C++Letters%3A+13%60%0A%0Ato%0A%0A%3E+%60Snail+Mail+Volunteer+-++Emails%3A+14+%7C++Letters%3A+14%60%0A%0Au%2Fakljdflkasdjkfjaskldf+does+not+exist%21&thing_id=t1_kvw41z5"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/comment/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": [], \"data\": {\"things\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_aymtgy\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"penpalbotdev\", \"author_flair_template_id\": \"42ca5ac2-dfd3-11ee-95b3-fecb104c514b\", \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"kvw43zu\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": false, \"author\": \"<REDDIT-USERNAME>\", \"can_mod_post\": true, \"created_utc\": 1711030766.0, \"ignore_reports\": false, \"send_replies\": true, \"parent_id\": \"t1_kvw41z5\", \"score\": 1, \"author_fullname\": \"t2_vymsy8abk\", \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"collapsed\": false, \"body\": \"\\n\\n`u/thisisreallytricky` updated from\\n\\n\\u003E `No Flair`\\n\\nto\\n\\n\\u003E ` Emails: 1 |  Letters: 1`\\n\\n`u/digitalmayhap` updated from\\n\\n\\u003E `Snail Mail Volunteer -  Emails: 13 |  Letters: 13`\\n\\nto\\n\\n\\u003E `Snail Mail Volunteer -  Emails: 14 |  Letters: 14`\\n\\nu/akljdflkasdjkfjaskldf does not exist!\", \"awarders\": [], \"gildings\": {}, \"author_flair_css_class\": null, \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": true, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ccode\\u003Eu/thisisreallytricky\\u003C/code\\u003E updated from\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003ENo Flair\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003Eto\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003EEmails: 1 |  Letters: 1\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003E\\u003Ccode\\u003Eu/digitalmayhap\\u003C/code\\u003E updated from\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003ESnail Mail Volunteer -  Emails: 13 |  Letters: 13\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003Eto\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Ccode\\u003ESnail Mail Volunteer -  Emails: 14 |  Letters: 14\\u003C/code\\u003E\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"/u/akljdflkasdjkfjaskldf\\\"\\u003Eu/akljdflkasdjkfjaskldf\\u003C/a\\u003E does not exist!\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"removal_reason\": null, \"collapsed_reason\": null, \"spam\": false, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"removed\": false, \"unrepliable_reason\": null, \"approved\": false, \"author_flair_text_color\": \"light\", \"score_hidden\": false, \"permalink\": \"/r/penpalbotdev/comments/1bk7l8h/march_2024_confirmation_thread/kvw43zu/\", \"subreddit_type\": \"private\", \"locked\": false, \"name\": \"t1_kvw43zu\", \"created\": 1711030766.0, \"author_flair_text\": \"Bot\", \"treatment_tags\": [], \"rte_mode\": \"markdown\", \"link_id\": \"t3_1bk7l8h\", \"subreddit_name_prefixed\": \"r/penpalbotdev\", \"controversiality\": 0, \"top_awarded_type\": null, \"author_flair_background_color\": \"#46d160\", \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"mod_note\": null, \"distinguished\": null}}]}}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["3226"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["230"], "x-ratelimit-used": ["766"], "x-ratelimit-reset": ["34"], "set-cookie": ["session_tracker=qcndialqfhrpcgchba.0.1711030766330.Z0FBQUFBQmxfRUh1WlJGOWpyTnhkanBLdDZ6eEFPdGY2RWJPd2N4a2FxSURIVkRWWjZoa0tF[...]
