{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/digitalmayhap/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": false, \"user_is_contributor\": false, \"banner_img\": \"https://styles.redditmedia.com/t5_9kyq6/styles/profileBanner_o2tpy0c3aypb1.jpg?width=1280\\u0026height=384\\u0026crop=1280:384,smart\\u0026s=42bcd2a9ecb926f85a999ceb3e92a02b5ddcc671\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_digitalmayhap\", \"header_img\": null, \"title\": \"Skylar\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_9kyq6/styles/profileIcon_snoo54558c7c-4893-48f1-a678-781af3e4b788-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=38dd01abb19ee3c3a6ac41c02a62fb43a62347db\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/digitalmayhap\", \"key_color\": \"\", \"name\": \"t5_9kyq6\", \"is_default_banner\": false, \"url\": \"/user/digitalmayhap/\", \"quarantine\": false, \"banner_size\": [1280, 384], \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"Any pronouns. LGBTQIA+. Dungeon Master/story teller, Dungeons and Dragons player, reader, writer, fountain pen collector, lover of leather and rose gold. Critter. Whovian. Ravenclaw.\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 15, \"id\": \"w8vj4\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 18, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_9kyq6/styles/profileIcon_snoo54558c7c-4893-48f1-a678-781af3e4b788-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=38dd01abb19ee3c3a6ac41c02a62fb43a62347db\", \"hide_from_robots\": false, \"link_karma\": 19212, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 22319, \"accept_chats\": false, \"name\": \"digitalmayhap\", \"created\": 1457401223.0, \"created_utc\": 1457401223.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/54558c7c-4893-48f1-a678-781af3e4b788.png\", \"comment_karma\": 3074, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": true}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2482"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["641"], "x-ratelimit-used": ["355"], "x-ratelimit-reset": ["338"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:22 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/user/digitalmayhap/about/?raw_json=1"}, "recorded_at": "2024-03-23T14:14:22"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/flairlist/?name=digitalmayhap&limit=1024&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"users\": [{\"flair_css_class\": \"846bff86-dfc8-11ee-9926-2ef1a20f02fd\", \"user\": \"digitalmayhap\", \"flair_text\": \"Snail Mail Volunteer - \\ud83d\\udce7 Emails: 1 | \\ud83d\\udcec Letters: 1\"}]}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["186"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["640"], "x-ratelimit-used": ["356"], "x-ratelimit-reset": ["338"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:22 GMT[...]
