{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/<REDDIT-USERNAME>/submitted?sort=new&limit=5&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_1bk62gh\", \"dist\": 5, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"#46d160\", \"approved_at_utc\": null, \"subreddit\": \"penpalbotdev\", \"selftext\": \"Submit your confirmations below!\\n\\n* [**No Previous Confirmation Thread**]()\\n* [**Full List of Subreddit Rules**](https://www.reddit.com/r/penpalbotdev/wiki/rules/)\\n* [**Message the Moderators**](http://www.reddit.com/message/compose?to=/r/penpalbotdev)\\n\\n# How Does This Process Work?\\n\\n\\u003E Note: Confirmations may take a few minutes as the bot processes the confirmation.\\n\\nAfter exchanging emails or letters, confirm that the user sent them by tagging their name, and then i[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": \"#46d160\", \"submit_text_html\": null, \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": false, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": true, \"display_name\": \"penpalbotdev\", \"header_img\": null, \"title\": \"penpalbotdev\", \"allow_galleries\": true, \"icon_size\": null, \"primary_color\": \"\", \"active_user_count\": 6, \"icon_img\": \"\", \"display_name_prefixed\": \"r/penpalbotdev\", \"accounts_active\": 6, \"public_traffic\": false, \"subscribers\": 2, \"user_flair_richtext\": [{\"e\": \"text\", \"t\": \"Bot\"}], \"name\": \"t5_aymtgy\", \"quarantine\": false, \"hide_ads\": false, \"prediction_leaderboard_entry_type\": 1, \"emojis_enabled\": false, \"advertiser_category\": \"\", \"public_description\": \"\", \"comment_score_hide_mins\": 0, \"allow_predictions\": false, \"user_has_favorited\": false, \"user_flair_template_id\": \"42ca5ac2-dfd3-11ee-95b3-fecb104c514b\", \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": false, \"community_reviewed\": false, \"submit_text\": \"\", \"description_html\": null, \"spoilers_enabled\": true, \"comment_contribution_settings\": {\"allowed_media_types\": [\"giphy\", \"static\", \"animated\", \"expression\"]}, \"allow_talks\": false, \"header_size\": null, \"user_flair_position\": \"right\", \"all_original_content\": false, \"collections_enabled\": true, \"is_enrolled_in_new_modmail\": true, \"key_color\": \"\", \"can_assign_user_flair\": false, \"created\": 1709931969.0, \"wls\": null, \"show_media_preview\": true, \"submission_type\": \"any\", \"user_is_subscriber\": false, \"allowed_media_in_comments\": [\"giphy\", \"static\", \"animated\", \"expression\"], \"allow_videogifs\": true, \"should_archive_posts\": false, \"user_flair_type\": \"richtext\", \"allow_polls\": true, \"collapse_deleted_comments\": true, \"coins\": 0, \"emojis_custom_size\": null, \"public_description_html\": null, \"allow_videos\": false, \"is_crosspostable_subreddit\": true, \"notification_level\": null, \"should_show_media_in_comments_setting\": true, \"can_assign_link_flair\": false, \"has_menu_widget\": false, \"accounts_active_is_fuzzed\": false, \"allow_prediction_contributors\": false, \"submit_text_label\": \"\", \"link_flair_position\": \"right\", \"user_sr_flair_enabled\": true, \"user_flair_enabled_in_sr\": true, \"allow_discovery\": true, \"accept_followers\": true, \"user_sr_theme_enabled\": true, \"link_flair_enabled\": true, \"disable_contributor_requests\": false, \"subreddit_type\": \"private\", \"suggested_comment_sort\": null, \"banner_img\": \"\", \"user_flair_text\": \"Bot\", \"banner_background_color\": \"\", \"show_media\": true, \"id\": \"aymtgy\", \"user_is_moderator\": true, \"over18\": false, \"header_title\": \"\", \"description\": \"\", \"submit_link_label\": \"\", \"user_flair_text_color\": \"light\", \"restrict_commenting\": false, \"user_flair_css_class\": null, \"allow_images\": true, \"lang\": \"en\", \"whitelist_status\": null, \"url\": \"/r/penpalbotdev/\", \"created_utc\": 1709931969.0, \"banner_size\": null, \"mobile_banner_image\": \"\", \"user_is_contributor\": true, \"allow_predictions_tournament\": false}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2998"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["379"], "x-ratelimit-used": ["617"], "x-ratelimit-reset": ["129"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:51 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/about/?raw_json=1"}, "recorded_at": "2024-03-21T14:17:51"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/monthly_post_flair_id?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"869b2fe4-e783-11ee-8b26-decc4363bc3e\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1711026269, \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"has_visited_new_profile\": false, \"is_friend\": false, \"pref_no_profanity\": true, \"has_external_account\": false, \"pref_geopopular\": \"\", \"pref_show_trending\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_<REDDIT-USERNAME>\", \"header_img\": null, \"title\": \"<REDDIT-USERNAME>t\", \"coins\": 0, \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/<REDDIT-USERNAME>\", \"key_color\": \"\", \"name\": \"t5_az9km0\", \"is_default_banner\": true, \"url\": \"/user/<REDDIT-USERNAME>/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": true, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"pref_show_presence\": true, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341.png\", \"snoovatar_size\": [380, 600], \"gold_expiration\": null, \"has_gold_subscription\": false, \"is_sponsor\": false, \"num_friends\": 0, \"features\": {\"modmail_harassment_filter\": true, \"mod_service_mute_writes\": true, \"promoted_trend_blanks\": true, \"show_amp_link\": true, \"chat\": true, \"mweb_link_tab\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 404}, \"is_email_permission_required\": false, \"mod_awards\": true, \"expensive_coins_package\": true, \"chat_subreddit\": true, \"awards_on_streams\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"cookie_consent_banner\": true, \"modlog_copyright_removal\": true, \"show_nps_survey\": true, \"do_not_track\": true, \"images_in_comments\": true, \"mod_service_mute_reads\": true, \"chat_user_settings\": true, \"use_pref_account_deployment\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"mweb_sharing_clipboard\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 315}, \"premium_subscriptions_table\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"crowd_control_for_post\": true, \"noreferrer_to_noopener\": true, \"chat_group_rollout\": true, \"resized_styles_images\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_android\": true, \"mweb_xpromo_revamp_v3\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 480}}, \"can_edit_name\": false, \"is_blocked\": false, \"verified\": true, \"new_modmail_exists\": true, \"pref_autoplay\": true, \"coins\": 0, \"has_paypal_subscription\": false, \"has_subscribed_to_premium\": false, \"id\": \"vymsy8abk\", \"can_create_subreddit\": true, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"suspension_expiration_utc\": null, \"has_stripe_subscription\": false, \"is_suspended\": false, \"pref_video_autoplay\": true, \"in_chat\": true, \"has_android_subscription\": false, \"in_redesign_beta\": true, \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"has_mod_mail\": false, \"pref_nightmode\": false, \"hide_from_robots\": false, \"password_set\": true, \"modhash\": null, \"link_karma\": 2, \"force_password_reset\": false, \"inbox_count\": 0, \"pref_top_karma_subreddits\": true, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"<REDDIT-USERNAME>\", \"pref_clickgadget\": 5, \"created\": 1710161245.0, \"has_verified_email\": true, \"gold_creddits\": 0, \"created_utc\": 1710161245.0, \"has_ios_subscription\": false, \"pref_show_twitter\": false, \"in_beta\": false, \"comment_karma\": 0, \"accept_followers\": true, \"has_subscribed\": true}}, \"revision_id\": \"8dba2320-e783-11ee-a9fd-42a50b161d5a\", \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003E869b2fe4-e783-11ee-8b26-decc4363bc3e\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["4380"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["370"], "x-ratelimit-used": [[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/monthly_post?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"Submit your confirmations below!\\n\\n* [**{previous_month_submission.title}**]({previous_month_submission.permalink})\\n* [**Full List of Subreddit Rules**](https://www[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/monthly_post_title?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"%B %Y Confirmation Thread\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710029937, \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\":[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&flair_id=869b2fe4-e783-11ee-8b26-decc4363bc3e&kind=self&nsfw=False&resubmit=True&sendreplies=False&spoiler=False&sr=penpalbotdev&text=Submit+your+confirmations+below%21%0A%0A%2A+%5B%2A%2ANo+Previous+Confirmation+Thread%2A%2A%5D%28%29%0A%2A+%5B%2A%2AFull+List+of+Subreddit+Rules%2A%2A%5D%28https%3A%2F%2Fwww.reddit.com%2Fr%2Fpenpalbotdev%2Fwiki%2Frules%2F%29%0A%2A+%5B%2A%2AMessage+the+Moderators%2A%2A%5D%28http%3A%2F%2Fwww.reddit.c[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&id=t3_1bk7l8h&num=1&state=True"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/set_subreddit_sticky/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": []}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["24"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["365"], "x-ratelimit-used": ["631"], "x-ratelimit-reset": ["125"], "set-cookie": ["session_tracker=qcndialqfhrpcgchba.0.1711030675024.Z0FBQUFBQmxfRUdUZ3VMSERGcW51NDZPa3NfMWZENzZWZm0zVTFVdXcyTDVRR19hWnJ6dlJEZ1owLXBKcTRabVBOMWRwZnRaWGJGc0xrLWZTOWlmSDZLbVp6bzlCdlpLUzJkX2UyamNXVEpaeUxqLXh2S01vc1BYZUNaeEh3RnhkR25pR09PcE04MTY; Domain=reddit.com; Max-Age=7199; Path=/; expires=Thu, 21-Mar-2024 16:17:55 GMT; secure"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:55 GMT"], "Via": ["1.1 varnish"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/api/set_subreddit_sticky/?raw_json=1"}, "recorded_at": "2024-03-21T14:17:55"}, {"request": {"body": {"encoding": "utf-8", "string": "api_type=json&id=t3_1bk7l8h&sort=new"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/set_suggested_sort/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": []}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["24"], "x-ua-compatible": ["IE=edge"], "content-type": ["applica[...]
