{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/<REDDIT-USERNAME>/submitted?sort=new&limit=10&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 8, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"#46d160\", \"approved_at_utc\": null, \"subreddit\": \"penpalbotdev\", \"selftext\": \"Submit your confirmations below!\\n\\n* [**No Previous Confirmation Thread**]()\\n* [**Full List of Subreddit Rules**](https://www.reddit.com/r/penpalbotdev/wiki/rules/)\\n* [**Message the Moderators**](http://www.reddit.com/message/compose?to=/r/penpalbotdev)\\n\\n# How Does This Process Work?\\n\\n\\u003E Note: Confirmations may take a few minutes as the bot processes the confirmation.\\n\\nAfter exchanging emails or letters, confirm that the user sent them by tagging their name, and then i[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&id=t3_1bk7f43"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/lock/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["361"], "x-ratelimit-used": ["635"], "x-ratelimit-reset": ["125"], "set-cookie": ["session_tracker=qcndialqfhrpcgchba.0.1711030675955.Z0FBQUFBQmxfRUdVRUhFRmljWGcxdDZqS2Fpd2xlYU9NSU4zYmxJcGxPaFNndlNiVkQ5a3JUYmRZcjNnZFk3VGFMZ1RaVG5la1dNT1R1Z1pZcDNwYUJ6eEJ0Tk1jRVBPNWVGUFgzVzJmNkFHT1dtT29WaXBPQU0ydWxVNjBGazlMTG9GNDNqejdIUGw; Domain=reddit.com; Max-Age=7199; Path=/; expires=Thu, 21-Mar-2024 16:17:56 GMT; secure"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:56 GMT"], "Via": ["1.1 varnish"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/api/lock/?raw_json=1"}, "recorded_at": "2024-03-21T14:17:56"}, [...]
