{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&body=This+is+a+test%21&isAuthorHidden=False&srName=penpalbotdev&subject=Test&to=<REDDIT-USERNAME>"}, "headers": {"Authorization": ["bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IlNIQTI1NjpzS3dsMnlsV0VtMjVmcXhwTU40cWY4MXE2OWFFdWFyMnpLMUdhVGxjdWNZIiwidHlwIjoiSldUIn0.eyJzdWIiOiJ1c2VyIiwiZXhwIjoxNzExMTE3MDY4Ljk2MTE2OSwiaWF0IjoxNzExMDMwNjY4Ljk2MTE2OSwianRpIjoicy1qSVlGcUZzS00tUlU5RUVPQTU3WnBEYTQybUNBIiwiY2lkIjoiTGhSNl9CNG14Z2lBeTdnZDA0Y1hoUSIsImxpZCI6InQyX3Z5bXN5OGFiayIsImFpZCI6InQyX3Z5bXN5OGFiayIsImxjYSI6MTcxMDE2MTI0NTYwOCwic2NwIjoiZUp5S1Z0SlNpZ1VFQUFEX193TnpBU2MiLCJmbG8iOjl9.gnbmI823ROWs9VzFKELv1sL0d0jU5BxaDFSijSDf4WL2JooS2Iv-QpFA2OhpOsW6nnVscW_tdz5B1X-NW-LeulGvjNxzykIdWLmknapVhqEbwksSuzXMrAiH-PxtrsIDjT_29EUE3IZkJmwc-DRvyHjigbIh2WhmAlO_ApyIvJreepGYWNwX7Um_BartELgKAD6L8ZhKFIX3dzjLzYHDxlksAeNZy0Km8W5camHThweRGpTBt5qeqxjxH4sn-TZGouupR4PlCaUUO25N_74_JIEtzuCyo117-aXp8mDStkclvaUfsG7PCnmeXQT-g8aYuzEXiXVU_ApQSSALhmuoDA"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/api/mod/conversations/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"conversation\": {\"isAuto\": false, \"participant\": {\"isMod\": true, \"isAdmin\": false, \"name\": \"<REDDIT-USERNAME>\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": true, \"isHidden\": false, \"id\": 90168428468288, \"isDeleted\": false}, \"objIds\": [{\"id\": \"2vzecw\", \"key\": \"messages\"}], \"isRepliable\": true, \"lastUserUpdate\": null, \"isInternal\": false, \"lastModUpdate\": \"2024-03-21T14:17:56.852000+0000\", \"authors\": [{\"isMod\": true, \"isAdmin\": false, \"name\": \"<REDDIT-USERNAME>\", \"isOp\": true, \"isParticipant\": true, \"isApproved\": true, \"isHidden\": false, \"id\": 90168428468288, \"isDeleted\": false}], \"lastUpdated\": \"2024-03-21T14:17:56.852000+0000\", \"participantSubreddit\": {}, \"legacyFirstMessageId\": \"27kz3vd\", \"state\": 0, \"conversationType\": \"sr_user\", \"lastUnread\": \"2024-03-21T00:00:00.000000+0000\", \"owner\": {\"displayName\": \"penpalbotdev\", \"type\": \"subreddit\", \"id\": \"t5_aymtgy\"}, \"subject\": \"Test\", \"id\": \"20ib5e\", \"isHighlighted\": false, \"numMessages\": 1}, \"participantSubreddit\": {}, \"messages\": {\"2vzecw\": {\"body\": \"<!-- SC_OFF --><div class=\\\"md\\\"><p>This is a test!</p>\\n</div><!-- SC_ON -->\", \"author\": {\"name\": \"<REDDIT-USERNAME>\", \"isApproved\": true, \"isMod\": true, \"isAdmin\": false, \"isOp\": true, \"isParticipant\": true, \"isHidden\": false, \"id\": 90168428468288, \"isDeleted\": false}, \"isInternal\": false, \"date\": \"2024-03-21T14:17:56.852000+0000\", \"bodyMarkdown\": \"This is a test!\", \"id\": \"2vzecw\", \"participatingAs\": \"moderator\"}}, \"user\": {\"recentComments\": {\"t1_kvvtzh5\": {\"comment\": \"\\n\\nYou can not update your own flair count!\\n\\n`u/digitalmayhap` updated from\\n\\n> `Snail Mail Volunteer -  Emails: 12 |  Letters: 12`\\n\\nto\\n\\n> `Sn...\", \"date\": \"2024-03-21T13:15:22.094000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/kvvtzh5/\", \"title\": \"March 2024 Confirmation Thread\"}}, \"muteStatus\": {\"muteCount\": 0, \"isMuted\": false, \"endDate\": null, \"reason\": \"\"}, \"name\": \"<REDDIT-USERNAME>\", \"created\": \"2024-03-11T12:47:25.608000+00:00\", \"banStatus\": {\"endDate\": null, \"reason\": \"\", \"isBanned\": false, \"isPermanent\": false}, \"isSuspended\": false, \"approveStatus\": {\"isApproved\": true}, \"isShadowBanned\": false, \"recentPosts\": {\"t3_1bk7f43\": {\"date\": \"2024-03-21T14:10:08.503000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk7f43/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}, \"t3_1bk62gh\": {\"date\": \"2024-03-21T13:05:37.621000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk62gh/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}, \"t3_1bk622x\": {\"date\": \"2024-03-21T13:05:07.283000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk622x/february_2024_confirmation_thread/\", \"title\": \"February 2024 Confirmation Thread\"}, \"t3_1bk64cp\": {\"date\": \"2024-03-21T13:08:21.123000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk64cp/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}, \"t3_1bk7l8h\": {\"date\": \"2024-03-21T14:17:54.599000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk7l8h/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}, \"t3_1bk78mv\": {\"date\": \"2024-03-21T14:01:44.703000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk78mv/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}, \"t3_1bk7au2\": {\"date\": \"2024-03-21T14:04:35.780000+00:00\", \"permalink\": \"https://www.reddit.com/r/penpalbotdev/comments/1bk7au2/march_2024_confirmation_thread/\", \"title\": \"March 2024 Confirmation Thread\"}}, \"recentConvos\": {\"20ia76\": {\"date\": \"2024-03-21T13:58:49.091000+0000\", \"permalink\": \"https://mod.reddit.com/mail/perma/20ia76\", \"id\": \"20ia76\", \"subject\": \"Test\"}, \"20hibe\": {\"date\": \"2024-03-21T00:26:52.286000+0000\", \"permalink\": \"https://mod.reddit.com/mail/perma/20hibe\", \"id\": \"20hibe\", \"subject\": \"test\"}, \"20ib5e\": {\"date\": \"2024-03-21T14:17:56.852000+0000\", \"permalink\": \"https://mod.reddit.com/mail/perma/20ib5e\", \"id\": \"20ib5e\", \"subject\": \"Test\"}, \"2[...]
