{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/YarnSwapper/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_YarnSwapper\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": true, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_75a40k/styles/profileIcon_snooa5533caf-7d89-4d0a-889a-a73524395541-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=1c84d54ea300a7d2824b6ca019acb872ecf89f54\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/YarnSwapper\", \"key_color\": \"\", \"name\": \"t5_75a40k\", \"is_default_banner\": true, \"url\": \"/user/YarnSwapper/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"Trade Confirmation Bot v1 by u/thisisreallytricky; message me if you're in need of a trade bot\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 0, \"id\": \"t2pgs62d\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_75a40k/styles/profileIcon_snooa5533caf-7d89-4d0a-889a-a73524395541-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=1c84d54ea300a7d2824b6ca019acb872ecf89f54\", \"hide_from_robots\": false, \"link_karma\": 28, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 105, \"accept_chats\": false, \"name\": \"YarnSwapper\", \"created\": 1664907245.0, \"created_utc\": 1664907245.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/a5533caf-7d89-4d0a-889a-a73524395541.png\", \"comment_karma\": 77, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": false}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2190"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["629"], "x-ratelimit-used": ["367"], "x-ratelimit-reset": ["336"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:25 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/user/YarnSwapper/about/?raw_json=1"}, "recorded_at": "2024-03-23T14:14:25"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/flairlist/?name=YarnSwapper&limit=1024&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"users\": [{\"flair_css_class\": null, \"user\": \"YarnSwapper\", \"flair_text\": \"\"}]}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["79"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["627"], "x-ratelimit-used": ["369"], "x-ratelimit-reset": ["335"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:25 GMT"], "Via": ["1.1 varnish"], "Vary": ["Accept-Encoding"], "Strict-Transport-S[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&flair_template_id=2693db3e-dd90-11ee-99a0-e66a03397746&name=YarnSwapper&text=%F0%9F%93%A7+Emails%3A+5+%7C+%F0%9F%93%AC+Letters%3A+5"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": []}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["24"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["626"], "x-ratelimit-used": ["370"], "x-ratelimit-reset": ["335"], "set-cookie": ["session_tracker=nrrdhjppefidbocder.0.1711203265303.Z0FBQUFBQmxfdVBCVENxdnRDNXpDY1prMDcyNUViV2x2TFNGWm50YmxOVlRNMklIWFExcGRiVWlET0JKTW5KVGNYUElYamIwNllfLTJfZXhLNDhXQmFPZGh2dXdPNzJFUU9BTTZCd2M3NDY2eWZ0b1o2endPQVlJcGhNY01ScTFlTHRmOW1JY21lb2g; Domain=reddit.com; Max-Age=7199; Path=/; expires=Sat, 23-Mar-2024 16:14:25 GMT; secure"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:25 GMT"], "Via": ["1.1 varnish"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "recorded_at": "2024-03-23T14:14:25"}], "recorded_with": "betamax/0.9.0"}