{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "grant_type=password&password=<REDDIT-PASSWORD>&username=<REDDIT-USERNAME>"}, "headers": {"Content-Type": ["application/x-www-form-urlencoded"], "Authorization": ["<Authorization>"]}, "method": "POST", "uri": "https://www.reddit.com/api/v1/access_token"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"access_token\": \"<ACCESS-TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"}, "headers": {"Connection": ["close"], "Content-Length": ["850"], "content-type": ["application/json; charset=UTF-8"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:27:15 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Cache-Control": ["private, max-age=3600"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://www.reddit.com/api/v1/access_token"}, "recorded_at": "2024-03-21T14:27:15"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["bearer <ACCESS-TOKEN>"]}, "method": "GET", "uri": "https://oauth.reddit.com/api/v1/me?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"is_employee\": false, \"seen_layout_switch\": false, \"has_visited_new_profile\": false, \"pref_no_profanity\": true, \"has_external_account\": false, \"pref_geopopular\": \"\", \"seen_redesign_modal\": true, \"pref_show_trending\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_<REDDIT-USERNAME>\", \"header_img\": null, \"title\": \"<REDDIT-USERNAME>t\", \"coins\": 0, \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"description\": \"\", \"allowed_media_in_comments\": [], \"submit_link_label\": \"\", \"header_size\": null, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/<REDDIT-USERNAME>\", \"key_color\": \"\", \"name\": \"t5_az9km0\", \"is_default_banner\": true, \"url\": \"/user/<REDDIT-USERNAME>/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": true, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"pref_show_presence\": true, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341.png\", \"snoovatar_size\": [380, 600], \"gold_expiration\": null, \"has_gold_subscription\": false, \"is_sponsor\": false, \"num_friends\": 0, \"features\": {\"modmail_harassment_filter\": true, \"mod_service_mute_writes\": true, \"promoted_trend_blanks\": true, \"show_amp_link\": true, \"chat\": true, \"mweb_link_tab\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 404}, \"is_email_permission_required\": false, \"mod_awards\": true, \"expensive_coins_package\": true, \"chat_subreddit\": true, \"awards_on_streams\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"cookie_consent_banner\": true, \"modlog_copyright_removal\": true, \"show_nps_survey\": true, \"do_not_track\": true, \"images_in_comments\": true, \"mod_service_mute_reads\": true, \"chat_user_settings\": true, \"use_pref_account_deployment\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"mweb_sharing_clipboard\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 315}, \"premium_subscriptions_table\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"crowd_control_for_post\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_android\": true, \"chat_group_rollout\": true, \"resized_styles_images\": true, \"noreferrer_to_noopener\": true, \"mweb_xpromo_revamp_v3\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 480}}, \"can_edit_name\": false, \"verified\": true, \"new_modmail_exists\": true, \"pref_autoplay\": true, \"coins\": 0, \"has_paypal_subscription\": false, \"has_subscribed_to_premium\": false, \"id\": \"vymsy8abk\", \"has_stripe_subscription\": false, \"oauth_client_id\": \"<REDDIT-CLIENT-ID>\", \"can_create_subreddit\": true, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"suspension_expiration_utc\": null, \"has_verified_email\": true, \"is_suspended\": false, \"pref_video_autoplay\": true, \"in_chat\": true, \"has_android_subscription\": false, \"in_redesign_beta\": true, \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"has_mod_mail\": false, \"pref_nightmode\": false, \"awardee_karma\": 0, \"hide_from_robots\": false, \"password_set\": true, \"link_karma\": 2, \"force_password_reset\": false, \"total_karma\": 2, \"seen_give_award_tooltip\": false, \"inbox_count\": 0, \"seen_premium_adblock_modal\": false, \"pref_top_karma_subreddits\": true, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"<REDDIT-USERNAME>\", \"pref_clickgadget\": 5, \"created\": 1710161245.0, \"gold_creddits\": 0, \"created_utc\": 1710161245.0, \"has_ios_subscription\": false, \"pref_show_twitter\": false, \"in_beta\": false, \"comment_karma\": 0, \"accept_followers\": true, \"has_subscribed\": true, \"linked_identities\": [], \"seen_subreddit_chat_ftux\": false}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["4186"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["466"], "x-ratelimit-used": ["530"], "x-ratelimit-reset": ["165"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:27:16 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>", "<Set-Cookie>", "<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/api/v1/me?raw_json=1"}, "recorded_at": "2024-03-21T14:27:16"}], "recorded_with": "betamax/0.9.0"}