{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/confirmation_regex_pattern?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"u/([a-zA-Z0-9_-]{3,})\\\\s+\\\\\\\\?-?\\\\s*(\\\\d+)(?:\\\\s+|\\\\s*-\\\\s*)(\\\\d+)\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710509725, \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_thisisreallytricky\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_9iw4ya/styles/profileIcon_snoo68d30b97-2aae-4c03-9ba3-2e01513cdb4a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=55c7cb949fb5f77529eaeef055462a37787cd69b\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/thisisreallytricky\", \"key_color\": \"\", \"name\": \"t5_9iw4ya\", \"is_default_banner\": true, \"url\": \"/user/thisisreallytricky/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": false, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"id\": \"l56kwuu68\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_9iw4ya/styles/profileIcon_snoo68d30b97-2aae-4c03-9ba3-2e01513cdb4a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=55c7cb949fb5f77529eaeef055462a37787cd69b\", \"hide_from_robots\": true, \"link_karma\": 28, \"accept_chats\": false, \"is_blocked\": false, \"pref_show_snoovatar\": false, \"name\": \"thisisreallytricky\", \"created\": 1696518188.0, \"created_utc\": 1696518188.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/68d30b97-2aae-4c03-9ba3-2e01513cdb4a.png\", \"comment_karma\": 61, \"accept_followers\": false, \"has_subscribed\": true, \"accept_pms\": true}}, \"revision_id\": \"e148a532-e2d0-11ee-8608-9e158699423a\", \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003Eu/([a-zA-Z0-9_-]{3,})\\\\s+\\\\?-?\\\\s\\u003Cem\\u003E(\\\\d+)(?:\\\\s+|\\\\s\\u003C/em\\u003E-\\\\s*)(\\\\d+)\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["2555"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "x-robots-tag": ["noindex, nofollow"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["393"], "x-ratelimit-used": ["603"], "x-ratelimit-reset": ["131"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:49 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/confirmation_regex_pattern?raw_json=1"}, "recorded_at": "2024-03-21T14:17:49"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/flair_regex?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"\\ud83d\\udce7 Emails: (\\\\d+|{E}) \\\\| \\ud83d\\udcec Letters: (\\\\d+|{L})\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710510029, \"revision_by\": [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/ranged_flair_template_regex?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"((\\\\d+)-(\\\\d+):)\\ud83d\\udce7 Emails: ({E}) \\\\| \\ud83d\\udcec Letters: ({L})\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710509[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/special_flair_template_regex?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"\\ud83d\\udce7 Emails: ({E}) \\\\| \\ud83d\\udcec Letters: ({L})\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710509982, \"revision_by\[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/confirmation_message?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"`u/{mentioned_name}` updated from\\n\\n\\u003E `{old_flair}`\\n\\nto\\n\\n\\u003E `{new_flair}`\", \"may_revise\": true, \"reason\": null, \"revision_date\": 171[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/user_doesnt_exist?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"u/{mentioned_name} does not exist!\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710170530, \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"has_visited_new_profile\": false, \"is_friend\": false, \"pref_no_profanity\": true, \"has_external_account\": false, \"pref_geopopular\": \"\", \"pref_show_trending\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_<REDDIT-USERNAME>\", \"header_img\": null, \"title\": \"<REDDIT-USERNAME>t\", \"coins\": 0, \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/<REDDIT-USERNAME>\", \"key_color\": \"\", \"name\": \"t5_az9km0\", \"is_default_banner\": true, \"url\": \"/user/<REDDIT-USERNAME>/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": true, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"pref_show_presence\": true, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341.png\", \"snoovatar_size\": [380, 600], \"gold_expiration\": null, \"has_gold_subscription\": false, \"is_sponsor\": false, \"num_friends\": 0, \"features\": {\"modmail_harassment_filter\": true, \"mod_service_mute_writes\": true, \"promoted_trend_blanks\": true, \"show_amp_link\": true, \"chat\": true, \"mweb_link_tab\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 404}, \"is_email_permission_required\": false, \"mod_awards\": true, \"expensive_coins_package\": true, \"chat_subreddit\": true, \"awards_on_streams\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_ios\": true, \"cookie_consent_banner\": true, \"modlog_copyright_removal\": true, \"show_nps_survey\": true, \"do_not_track\": true, \"images_in_comments\": true, \"mod_service_mute_reads\": true, \"chat_user_settings\": true, \"use_pref_account_deployment\": true, \"mweb_xpromo_interstitial_comments_ios\": true, \"mweb_sharing_clipboard\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 315}, \"premium_subscriptions_table\": true, \"mweb_xpromo_interstitial_comments_android\": true, \"crowd_control_for_post\": true, \"noreferrer_to_noopener\": true, \"chat_group_rollout\": true, \"resized_styles_images\": true, \"mweb_xpromo_modal_listing_click_daily_dismissible_android\": true, \"mweb_xpromo_revamp_v3\": {\"owner\": \"growth\", \"variant\": \"control_2\", \"experiment_id\": 480}}, \"can_edit_name\": false, \"is_blocked\": false, \"verified\": true, \"new_modmail_exists\": true, \"pref_autoplay\": true, \"coins\": 0, \"has_paypal_subscription\": false, \"has_subscribed_to_premium\": false, \"id\": \"vymsy8abk\", \"can_create_subreddit\": true, \"over_18\": false, \"is_gold\": false, \"is_mod\": true, \"suspension_expiration_utc\": null, \"has_stripe_subscription\": false, \"is_suspended\": false, \"pref_video_autoplay\": true, \"in_chat\": true, \"has_android_subscription\": false, \"in_redesign_beta\": true, \"icon_img\": \"https://i.redd.it/snoovatar/avatars/9737da0d-6cf3-4371-b87f-aee0d925d341-headshot.png\", \"has_mod_mail\": false, \"pref_nightmode\": false, \"hide_from_robots\": false, \"password_set\": true, \"modhash\": null, \"link_karma\": 2, \"force_password_reset\": false, \"inbox_count\": 0, \"pref_top_karma_subreddits\": true, \"has_mail\": false, \"pref_show_snoovatar\": false, \"name\": \"<REDDIT-USERNAME>\", \"pref_clickgadget\": 5, \"created\": 1710161245.0, \"has_verified_email\": true, \"gold_creddits\": 0, \"created_utc\": 1710161245.0, \"has_ios_subscription\": false, \"pref_show_twitter\": false, \"in_beta\": false, \"comment_karma\": 0, \"accept_followers\": true, \"has_subscribed\": true}}, \"revision_id\": \"2171ec86-dfbb-11ee-bba3-8633b82d9a82\", \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003Eu/{mentioned_name} does not exist!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\"}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["4376"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/cant_update_yourself?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"You can not update your own flair count!\", \"may_revise\": true, \"reason\": null, \"revision_date\": 1710172913, \"revision_by\": {\"kind\": \"t2\", \"data\": [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/wiki/confirmation-bot/flair_update_failed?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"reason\": \"PAGE_NOT_CREATED\", \"message\": \"Not Found\"}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["54"], "x-ua-compatible": ["IE=edge"], "expires": ["-1"], "cache-control": ["private, s-m[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/user_flair_v2?unique=0&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "[{\"allowable_content\": \"all\", \"text\": \"0-50:\\ud83d\\udce7 Emails: {E} | \\ud83d\\udcec Letters: {L}\", \"text_color\": \"dark\", \"mod_only\": false, \"background_color\": \"#7193ff\", \"id\": \"2693db3e-dd90-11ee-99a0-e66a03397746\", \"css_class\": \"\", \"max_emojis\": 10, \"richtext\": [], \"text_editable\": false, \"override_css\": false, \"type\": \"text\"}, {\"allowable_content\": \"all\", \"text\": \"51-100:\\ud83d\\udce7 Emails: {E} | \\ud83d\\udcec Letters: {L}\", \"text_color\": \"dark\", \"mod_only\": false, \"background_color\": \"#00a6a5\", \"id\": \"5410680c-dd90-11ee-ac70-a29fd78e4566\", \"css_class\": \"\", \"max_emojis\": 10, \"richtext\": [], \"text_editable\": false, \"override_css\": false, \"type\": \"text\"}, {\"allowable_content\": \"all\", \"text\": \"Moderator - \\ud83d\\udce7 Emails: {E} | \\ud83d\\udcec Letters: {L}[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/about/moderators/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"UserList\", \"data\": {\"children\": [{\"name\": \"<REDDIT-USERNAME>\", \"author_flair_text\": \"Bot\", \"mod_permissions\": [\"all\"], \"date\": 1710161418.0, \"rel_id\": \"rb_6bqcxxc\", \"id\": \"t2_vymsy8abk\", \"author_flair_css_class\": null}]}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["234"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["382"], "x-ratelimit-used": ["614"], "x-ratelimit-reset": ["129"], "Accept-Ranges": ["bytes"], "Date": ["Thu, 21 Mar 2024 14:17:51 GMT"], "Via": ["1.1 varnish"], "Vary": ["Accept-Encoding"], "Strict-Transport[...]
