{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/user/thisisreallytricky/about/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_thisisreallytricky\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://i.redd.it/snoovatar/avatars/eef94db9-bc38-458a-baa3-5924039285cf-headshot.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/thisisreallytricky\", \"key_color\": \"\", \"name\": \"t5_9iw4ya\", \"is_default_banner\": true, \"url\": \"/user/thisisreallytricky/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": false, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 0, \"id\": \"l56kwuu68\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://i.redd.it/snoovatar/avatars/eef94db9-bc38-458a-baa3-5924039285cf-headshot.png\", \"hide_from_robots\": true, \"link_karma\": 28, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 89, \"accept_chats\": false, \"name\": \"thisisreallytricky\", \"created\": 1696518188.0, \"created_utc\": 1696518188.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/eef94db9-bc38-458a-baa3-5924039285cf.png\", \"comment_karma\": 61, \"accept_followers\": false, \"has_subscribed\": true, \"accept_pms\": true}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["1873"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "x-robots-tag": ["noindex, nofollow"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["634"], "x-ratelimit-used": ["362"], "x-ratelimit-reset": ["337"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:24 GMT"], "Via": ["1.1 varnish"], "Vary": ["accept-encoding, Accept-Encoding"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Set-Cookie": ["<Set-Cookie>"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/user/thisisreallytricky/about/?raw_json=1"}, "recorded_at": "2024-03-23T14:14:24"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<Authorization>"]}, "method": "GET", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/flairlist/?name=thisisreallytricky&limit=1024&raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"users\": [{\"flair_css_class\": null, \"user\": \"thisisreallytricky\", \"flair_text\": \"\\ud83d\\udce7 Emails: 1 | \\ud83d\\udcec Letters: 1\"}]}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["134"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["632"], "x-ratelimit-used": ["364"], "x-ratelimit-reset": ["336"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:24 GMT"], "Via": ["1.1 varnis[...]
[...]
{"request": {"body": {"encoding": "utf-8", "string": "api_type=json&flair_template_id=2693db3e-dd90-11ee-99a0-e66a03397746&name=thisisreallytricky&text=%F0%9F%93%A7+Emails%3A+6+%7C+%F0%9F%93%AC+Letters%3A+6"}, "headers": {"Authorization": ["<Authorization>"], "Content-Type": ["application/x-www-form-urlencoded"]}, "method": "POST", "uri": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"json\": {\"errors\": []}}"}, "headers": {"Connection": ["keep-alive"], "Content-Length": ["24"], "x-ua-compatible": ["IE=edge"], "content-type": ["application/json; charset=UTF-8"], "expires": ["-1"], "cache-control": ["private, s-maxage=0, max-age=0, must-revalidate, no-store"], "x-ratelimit-remaining": ["630"], "x-ratelimit-used": ["366"], "x-ratelimit-reset": ["336"], "set-cookie": ["session_tracker=nrrdhjppefidbocder.0.1711203264564.Z0FBQUFBQmxfdVBBcWlPeHJ4Nmx2alhCYW9tODRoako2YlBncmdDRVk5eF9xbkgtYk93cVhyLVFnYURRWTFHUkU1eF90dE85c0VhV1NBRXBoNDI2bEJmVlJiWl9GTzNoWk9yd1ctS1RHWjd3ekZ6dDdwMENzbTZOZ1RlZlpFZnltbEFDdGFQTGJHbnU; Domain=reddit.com; Max-Age=7199; Path=/; expires=Sat, 23-Mar-2024 16:14:24 GMT; secure"], "Accept-Ranges": ["bytes"], "Date": ["Sat, 23 Mar 2024 14:14:24 GMT"], "Via": ["1.1 varnish"], "Strict-Transport-Security": ["max-age=31536000; includeSubdomains"], "X-Content-Type-Options": ["nosniff"], "X-Frame-Options": ["SAMEORIGIN"], "X-XSS-Protection": ["1; mode=block"], "Server": ["snooserv"], "Report-To": ["{\"group\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": true,  \"endpoints\": [{ \"url\": \"https://w3-reporting-nel.reddit.com/reports\" }]}, {\"group\": \"w3-reporting\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting.reddit.com/reports\" }]}, {\"group\": \"w3-reporting-csp\", \"max_age\": 14400, \"include_subdomains\": true, \"endpoints\": [{ \"url\": \"https://w3-reporting-csp.reddit.com/reports\" }]}"], "NEL": ["{\"report_to\": \"w3-reporting-nel\", \"max_age\": 14400, \"include_subdomains\": false, \"success_fraction\": 1.0, \"failure_fraction\": 1.0}"]}, "status": {"code": 200, "message": "OK"}, "url": "https://oauth.reddit.com/r/penpalbotdev/api/selectflair/?raw_json=1"}, "recorded_at": "2024-03-23T14:14:24"}], "recorded_with": "betamax/0.9.0"}